In [7]:
import pandas as pd 
train_disasters = pd.read_csv("train.csv")
test_disasters = pd.read_csv("test.csv")

In [8]:
train_disasters.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [9]:
test_disasters.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [42]:
sentences = train_disasters["text"].to_list()
labels = train_disasters["target"].to_list()

len_sentences = len(sentences)
training_sample_size = int(0.75 * len_sentences)

In [43]:
train_sentences = sentences[0:training_sample_size]
test_labels = labels[0:training_sample_size]

val_sentences = sentences[training_sample_size:]
val_labels = labels[training_sample_size:] 

print(train_sentences[:5])
print(train_labels[:5])

['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all', 'Forest fire near La Ronge Sask. Canada', "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected", '13,000 people receive #wildfires evacuation orders in California ', 'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school ']
[1, 1, 1, 1, 1]

In [44]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(oov_token="<OOV>")

In [45]:
tokenizer.fit_on_texts(train_sentences)
word_index = tokenizer.word_index

In [46]:
for i in range(5):
    print(word_index.popitem())

('ciwwuqthin', 18520)
('s5nuegswyj', 18519)
('bs6pjt09tc', 18518)
('p4doa5yyje', 18517)
('aim5cyhl0y', 18516)

In [47]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

train_sequences = tokenizer.texts_to_sequences(train_sentences)
train_padded_seq = pad_sequences(train_sequences, padding="post")
train_padded_seq.shape

(5709, 33)

In [48]:
val_sequences = tokenizer.texts_to_sequences(val_sentences)
val__padded_seq = pad_sequences(val_sequences, padding="post")
val__padded_seq.shape

(1904, 30)